<!DOCTYPE html>
<html>
	<head>
		<title>Michael Scott</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="https://drive.google.com/file/d/1ySdJp_ol4Xsaw3y7DcL00DeKnm9zy8H2/view?usp=sharing">Resume</a></li>
        		<li><a href="mailto:MBScott1997@gmail.com">Email Me!</a></li>
        		<li><a href="https://github.com/MBScott1997">github.com/MBScott1997</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Michael!</h1>
				<p>I'm a new Data Analytics grad from Seattle University. Welcome to my page!<a </a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/MBScott1997/R_Projects">R Projects</a></li>
	        	<li><a href="https://github.com/MBScott1997/SQL_Projects">SQL Projects</a></li>
        		<li><a href="https://github.com/MBScott1997/Python_Projects">Python Projects</a></li>
		</footer>
	</body>
</html>
